<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.imac.Kxuan.tmall.plist</string>
    <key>ProgramArguments</key>
    <array> 
		<string>/Users/tiger007/Desktop/shell_test/Scripts/tmall.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/tiger007/Desktop/shell_test/Scripts/tmalllog</string>
    <key>StandardErrorPath</key>
    <string>/Users/tiger007/Desktop/shell_test/Scripts/tmallerror</string>
</dict>
</plist>
